@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  min-height: 100vh;
  background: url(./bg.png);
  background-size: cover;
  background-position: center center;
}

.container {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.top-heading {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  justify-content: space-between;
}

.logo {
  color: #026e78;
  font-weight: bold;
  font-size: 2.5rem;
  text-decoration: none;
}

.top-heading a:last-child {
  color: white;
}

nav ul {
  display: flex;
  text-align: center;
  padding: 0;
  list-style-type: none;
}

nav {
  padding: 0.5rem;
}

ul li a {
  background: #2d99a4;
  display: block;
  text-align: center;
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 16px;
  color: white;
}

nav li {
  flex: 1;
}

a.active {
  background-color: white;
  color: #026e78;
}

a.highlight {
  background-color: #026e78;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  align-items: flex-start;
  margin-top: 5rem;
}

.content h1 {
  background-color: #026e78;
  color: white;
  display: inline;
  padding: 1rem;
  font-weight: 200;
}

.white-link {
  background-color: white;
  color: #2d99a4;
  padding: 1rem;
  text-decoration: none;
}

.blue-link {
  text-decoration: none;
  background-color: #026e78;
  color: white;
  padding: 1rem;
  margin-top: 2rem;
}

@media screen and (max-width: 768px) {
  .top-heading {
    flex-direction: column;
    justify-content: center;
  }

  .content {
    font-size: 1.5rem;
  }
}
