@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

header {
  border: 1px solid #000;
  min-height: 100vh;
  background: url(./bg.png);
  background-size: cover;
  background-position: center center;
}

nav .top-heading {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

nav .top-heading a {
  font-size: 40px;
  text-decoration: none;
  font-weight: bold;
  color: #026e78;
}

nav .top-heading span {
  font-size: 27.2px;
  color: white;
}

.lower-heading {
  margin-top: 1rem;
}

ul {
  display: flex;
  text-align: center;
  margin: 0;
  padding: 0;
}

ul li {
  flex: 1;
  list-style: none;
  padding: 1rem;
  background: #2d99a4;
}

ul li a {
  text-decoration: none;
  font-size: 16px;
  color: white;
}

ul li:first-child {
  background-color: white;
}

ul li:first-child a {
  color: #026e78;
  font-weight: bold;
}

ul li:last-child {
  background: #026e78;
}

main .container h1 {
  font-weight: 200;
  font-size: 64px;
  color: white;
  padding: 1rem;
  background-color: #026e78;
  margin-top: 10rem;
}

.sub-title h1 {
  border: 1px solid red;
  width: 1000;
  margin-left: 294px;
}
